.gallery__item {
  font-size: 20px;
}

@media (min-width: 600px) {
  main {
    font-size: 40px;
  }
}

@media (min-width: 900px) {
  .gallery__item {
    font-size: 40px;
  }
}
/*

@media (min-width: 900px) {
  html {
    font-size: 60px;
  }
} */
