/* .gallery__item figure {
  width: 225px;
  height: 225px;
}

.gallery__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 425px) {
  .gallery__item figure {
    width: 275px;
    height: 275px;
  }
}

@media (min-width: 960px) {
  .gallery__item figure {
    width: 550px;
    height: 550px;
  }
}

@media (min-width: 1240px) {
  .gallery__item figure {
    width: 550px;
    height: 550px;
  }
} */

body {
  width: 100dvw;
  min-height: 100dvh;
  overflow-x: hidden;
}

.gallery {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-around;

  background-color: red;
  padding: 2em;
}

.gallery__item {
}

.gallery__item figure {
  width: 100px;
}

.gallery__item h2 {
  font-size: 0.5em;
}

.gallery__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  margin-top: auto;
  height: 30px;
  background-color: blue;
}

header {
  background-color: red;
}
