main {
  width: 100vw;
  height: 100vh;
}

.gallery__item figure {
  width: 225px;
  height: 225px;
}

.gallery__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 425px) {
  .gallery__item figure {
    width: 275px;
    height: 275px;
  }
}

@media (min-width: 680px) {
  .gallery__item figure {
    width: 450px;
    height: 450px;
  }
}

@media (min-width: 960px) {
  .gallery__item figure {
    width: 550px;
    height: 550px;
  }
}

@media (min-width: 1240px) {
  .gallery__item figure {
    width: 550px;
    height: 550px;
  }
}
