/* Para dimensiones ABSOLUTAS */
/* vw -> vh -> viewport width y viewport height */
/* px -> Pixeles */
/* vdw -> vdhh */

/* Para dimensiones RELATIVAS AL PADRE */
/* % -> Porcentaje */

/* Para texto */
/* em, rem */
